/* For the main container */
.container-fluid {
  background: linear-gradient(to bottom, #565e5a, #333d47, #404040);
}

/* For the movie details */
.movie-year,
.overview {
  color: #ffffffb6;
}

.overview {
  text-align: justify;
}

h1,
h2 {
  text-shadow: 2px 2px 2px black;
}

h1,
h2,
h6 {
  text-align: start;
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h6 {
    text-align: center;
  }
}

.badge {
  font-weight: 800;
}

/* For the movie image row */
.movie-image-row {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-wrapper {
  background-color: #ffffff80;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

/* For the movie image in small screens */
@media screen and (max-width: 700px) {
  img {
    border-radius: 15px;
  }
}
