<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img src="./assets/images/logo.png" alt="Avatar Logo" />
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav ms-md-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/movies/top-movies-catalog"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Top-Rated Movies</a
          >
        </li>

        <li class="nav-item" *ngIf="isLoggedIn">
          <a
            class="nav-link"
            (click)="logout()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Logout</a
          >
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn">
          <a
            class="nav-link"
            routerLink="/auth"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
