<div class="container border border-1 rounded mt-5 p-4">
  <div class="row pb-3">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div
          *ngFor="let field of formFields"
          class="row"
          [ngClass]="{ 'pb-4': currentField.valid || !currentField.touched }"
        >
          <div class="col-12 form-group">
            <label for="{{ field.name }}" class="h6">{{ field.label }}</label>
            <input
              [type]="field.type"
              [name]="field.name"
              ngModel
              class="form-control"
              required
              #currentField="ngModel"
              [email]="field.name === 'email'"
            />
            <div
              class="help-block alert alert-danger small mt-2 p-2"
              *ngIf="!currentField.valid && currentField.touched"
            >
              {{ field.errorMessage }}
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="d-grid">
            <button
              class="btn btn-block signInBtn"
              [disabled]="!form.valid"
              type="submit"
            >
              {{ submitButtonText }}
            </button>
          </div>
        </div>
        <hr />

        <div class="row text-center">
          <div class="col-12 form-group d-grid">
            <p class="">{{ newOrHavingAccount }}</p>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="switchButtons()"
            >
              {{ switchButtonText }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
