<div class="container border border-1 rounded mt-5 p-4">
  <div class="row pb-3">
    <div class="col-12">
      <h1>{{ title | translate }}</h1>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <!-- Email input field -->
        <div
          class="row"
          [ngClass]="{ 'pb-4': emailField.valid || !emailField.touched }"
        >
          <div class="col-12 form-group">
            <label for="email" class="h6">{{ "Email" | translate }}</label>
            <input
              type="text"
              name="email"
              ngModel
              class="form-control"
              required
              #emailField="ngModel"
              email
            />
            <div
              class="help-block alert alert-danger small mt-2 p-2"
              *ngIf="!emailField.valid && emailField.touched"
            >
              {{ "Please enter a valid email!" | translate }}
            </div>
          </div>
        </div>

        <!-- Password input field -->
        <div
          class="row"
          [ngClass]="{ 'pb-4': passwordField.valid || !passwordField.touched }"
        >
          <div class="col-12 form-group">
            <label for="password" class="h6">{{
              "Password" | translate
            }}</label>
            <input
              type="password"
              name="password"
              ngModel
              class="form-control"
              required
              #passwordField="ngModel"
              [minlength]="6"
            />
            <div
              class="help-block alert alert-danger small mt-2 p-2"
              *ngIf="!passwordField.valid && passwordField.touched"
            >
              {{ "Password should be at least 6 characters!" | translate }}
            </div>
          </div>
        </div>

        <!-- Submission button -->
        <div class="row pb-4">
          <div class="d-grid">
            <button
              class="btn btn-block sign-in-btn"
              [disabled]="!form.valid"
              type="submit"
            >
              {{ submitButtonText | translate }}
            </button>
          </div>
        </div>
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        <div
          class="help-block alert alert-danger small mt-2 p-2"
          *ngIf="errorMessage.length != 0"
        >
          {{ errorMessage | translate }}
        </div>

        <hr />

        <!-- Switch button -->
        <div class="row text-center">
          <div class="col-12 form-group d-grid">
            <p class="">{{ newOrHavingAccount | translate }}</p>
            <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="switchButtons(form)"
            >
              {{ switchButtonText | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
