<div class="container">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
<div class="container-fluid" *ngIf="!isLoading">
  <div class="row">
    <h1 class="text-center my-4">Top-Rated Movies</h1>
  </div>
  <div class="row pt-4">
    <div
      class="col-12 col-md-6 col-lg-3 mb-5 px-4"
      *ngFor="
        let movie of moviesList
          | paginate : { itemsPerPage: 16, currentPage: p, totalItems: 250 }
      "
    >
      <div
        class="card bg-light rounded-4 w-100 h-100"
        data-bs-toggle="tooltip"
        [title]="movie.title"
      >
        <div class="card-image-top">
          <div class="image-wrapper">
            <img
              class="rounded-top-4 img-fluid rounded-top-4"
              [src]="movie.moviePoster"
              [alt]="movie.title"
              (click)="showDetails(movie)"
            />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title" (click)="showDetails(movie)">
            {{ movie.title }}
          </h5>
          <p class="text-secondary">
            {{ movie.releaseDate | date : "mediumDate" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center text-sm-end">
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
