<div class="container-fluid">
  <div class="row mx-5 pt-3">
    <h1 class="px-0">
      {{ "Top cast" | translate }}
    </h1>
  </div>
  <div class="row mx-3 mx-sm-5 pt-3">
    <div class="col-md-4 col-12 card border-0" *ngFor="let actor of actors">
      <div class="card-body">
        <div class="row">
          <div
            class="col-6 col-md-auto d-flex align-items-center justify-content-center"
          >
            <img
              [src]="actor.profile_path"
              class="rounded-circle"
              [alt]="actor.name"
              width="96"
              height="96"
            />
          </div>
          <div class="col-6 d-flex align-items-center pt-sm-3 pt-lg-0">
            <div>
              <h5 class="mt-0 text-truncate">{{ actor.name }}</h5>
              <p class="text-truncate">{{ actor.character }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
