/* Home page baackground */
.row {
  background-image: url("/assets/images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home page title */
h1 {
  text-shadow: 2px 2px 4px black;
}
