.row {
  min-height: 100vh;
  background-image: url("/assets/images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  background-color: white;
  border: none;
}
.btn-text {
  font-weight: 600;
}
