<div class="container-fluid">
  <div class="row pt-4">
    <div
      class="col-12 col-sm-4 col-md-4 mb-5 px-4"
      *ngFor="let movie of moviesList"
    >
      <div class="card rounded-0">
        <div class="card-image-top">
          <img class="w-100" [src]="movie.moviePoster" [alt]="movie.title" />
        </div>
        <div class="card-body">
          <h5 class="card-title text-light">{{ movie.title }}</h5>
          <a class="btn">Movie Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
