.card {
  background-color: #1a1a1ac6;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #ffffff14;
  color: #5799ef;
}
.btn:hover {
  background-color: #ffffff21;
}

.container {
  /* background-color: #e1e1e1; */
}
